body {
  position: relative;
}

[eight-dot-zoom] {
  width: 100%;
}

.zoom-wrap {
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: move;
  display: none;
  height: 150px;
  left: 150px;
  position: absolute;
  top: 150px;
  width: 150px;
}

.zoom-anchor {
  background: #aaa;
  height: 10px;
  position: absolute;
  width: 10px;
}

.zoom-nw {
  cursor: nwse-resize;
  left: -5px;
  top: -5px;
}

.zoom-n {
  cursor: ns-resize;
  left: 50%;
  margin-left: -5px;
  top: -5px;
}

.zoom-ne {
  cursor: nesw-resize;
  right: -5px;
  top: -5px;
}

.zoom-e {
  cursor: ew-resize;
  right: -5px;
  margin-top: -5px;
  top: 50%;
}

.zoom-se {
  bottom: -5px;
  cursor: nwse-resize;
  right: -5px;
}

.zoom-s {
  bottom: -5px;
  cursor: ns-resize;
  left: 50%;
  margin-left: -5px;
}

.zoom-sw {
  cursor: nesw-resize;
  left: -5px;
  bottom: -5px;
}

.zoom-w {
  cursor: ew-resize;
  left: -5px;
  margin-top: -5px;
  top: 50%;
}